.formulario {
  margin        : 40px 0;
  border        : 1px solid rgba(22, 210, 236, 0.5);
  border-radius : 15px;
  text-align    : center;
  align-self    : center;
}

.titulo {
  text-align  : center;
  font-family : condensed light;
  font-size   : 3em;
}

.linea {
  height : 3px;
}
