{% extends 'base/base.html' %}
{% block title %} BD {% endblock %}
{% block titulo %} Crear una BD de forma sencilla {% endblock %}

{% block contenido %}
    <form action="#" method="post" enctype="multipart/form-data"> {% csrf_token %}
        <div class="row">
          <div class="col s12 m8 l6 offset-m2 offset-l3"><div class="row">
            <ul class="collapsible" data-collapsible="accordion">
                <li>
                  <div class="collapsible-header"><i class="material-icons">view_headline</i>Base de datos</div>
                  <div class="collapsible-body">
                    <div class="input-field">
                      <input id="BD" type="text" name="db">
                      <label for="BD">Nombre</label>
                    </div>
                  </div>
                </li>
                <li>
                  <div class="collapsible-header">
                      <i class="material-icons">view_week</i>Tabla
                  </div>
                  <div class="collapsible-body">
                      <div class="input-field">
                        <input id="tabla" type="text" name="table">
                        <label for="tabla">Nombre</label>
                      </div>
                  </div>
                </li>
                <li>
                  <div class="collapsible-header"><i class="material-icons">input</i>Campos</div>
                  <div class="collapsible-body">
                      <div id="fields">
                          <div class="input-field inline">
                              <input id="campo1" type="text" name="field_name[]">
                              <label for="campo1">Nombre</label>
                          </div>

                          <div class="input-field inline">
                              <select name="field_type[]">
                                  <option value="" disabled selected>Tipo de campo</option>
                                  <option value="int">Entero</option>
                                  <option value="float">Decimal</option>
                                  <option value="nvarchar(20)">Caracteres (1-20)</option>
                                  <option value="nvarchar(40)">Caracteres (21-40)</option>
                                  <option value="nvarchar(60)">Caracteres (41-60)</option>
                              </select>
                          </div><br>
                      </div>
                      <div><input type="button" value="Agregar campo" class="btn" id="btn_add"></div>
                  </div>
                </li>
                <li>
                  <div class="collapsible-header"><i class="material-icons">mode_edit</i>Registros</div>
                  <div class="collapsible-body">
                      <div class="file-field input-field">
                        <div class="btn">
                          <span>documento</span>
                          <input type="file" name="file">
                        </div>
                        <div class="file-path-wrapper">
                          <input class="file-path validate" type="text">
                        </div>
                      </div>
                  </div>
                </li>
              </ul>
              <br><input type="submit" value="Subir" class="btn">
        </div>
    </form>
{% endblock %}
{% block scripts %}
    <script>
        $(document).ready(function() {
            $('select').material_select();
        });

        var contador = 1;
        $("#btn_add").click(function(){
            contador++;
            $("#fields").append('<div class="input-field inline"><input id="campo' + contador + '" type="text" name="field_name[]"><label for="campo' + contador + '">Nombre</label></div>');

            $("#fields").append('<div class="input-field inline"><select name="field_type[]"><option value="" disabled selected>Tipo de campo</option><option value="int">Entero</option><option value="float">Decimal</option><option value="nvarchar(20)">Caracteres (1-20)</option><option value="nvarchar(40)">Caracteres (21-40)</option><option value="nvarchar(60)">Caracteres (41-60)</option></select></div><br>');

            $('select').material_select();
        });
    </script>
{% endblock %}
